<!-- <form action="/tags" method="post">
  <label for="tag_name">Tag Name</label>
  <input type="text" name="tag[name]" id="tag_name">
  <input type="submit" value="Create Tag">
</form> -->

<h1>Create a new Tag</h1>
<%= render 'form' %>
